extends ../layout/common 
block header
        .d-flex.align-items-center.justify-content-between
            h1 Transactions History
            a.ml-4.mr-4.btn.btn-primary(href="/transaction/create") Create Transactions
        if errors
            each err in errors
                .alert.alert-danger= err
        table.table
            thead
                tr
                    th(scope="col") Username    
                    th(scope="col") Booksname
                    th(scope="col") Complete
                    th(scope="col") Action  
            tbody
                if users.isAdmin === true
                    each tran in transactionsAdmin 
                        tr
                            td= tran.username
                            td= tran.booksname
                            if tran.isComplete === true
                                td Đã trả sách
                            else 
                                td Đang mượn
                                td
                                    a.mr-3.btn.btn-secondary(href="/transaction/view/" + tran.id ) View
                                td
                                    a.mr-3.btn.btn-secondary(href="/transaction/update/" + tran.id ) Update
                                td
                                    a.mr-3.btn.btn-secondary(href="/transaction/" + tran.id +"/delete") Delete
                                if tran.isComplete === true
                                    td 
                                        a.mr-3.btn.btn-secondary(href="/transaction/" + tran.id +"/uncomplete") Uncomplete
                                else 
                                    td 
                                        a.mr-3.btn.btn-secondary(href="/transaction/" + tran.id +"/complete") Complete
                else 
                    each tran in transactionsUser
                        tr
                            td= tran.username
                            td= tran.booksname
                            if tran.isComplete === true
                                td Đã trả sách
                            else 
                                td Đang mượn
                                td
                                    a.mr-3.btn.btn-secondary(href="/transaction/view/" + tran.id ) View
                                td
                                    a.mr-3.btn.btn-secondary(href="/transaction/update/" + tran.id ) Update
                nav(aria-label='Page navigation example')
                    form(action="", method="get")
                        td
                            ul.pagination
                                li.page-item
                                    a.page-link(href='/transaction?page=1') Previous
                                li.page-item
                                    a.page-link(href='/transaction?page=1', value ="1",name="page") 1
                                li.page-item
                                    a.page-link(href='/transaction?page=2', value ="2",name="page") 2
                                li.page-item
                                    a.page-link(href='/transaction?page=3', value ="3",name="page") 3
                                li.page-item
                                    a.page-link(href='#') Next

                    