extends ../layout/common 
block header   
    .container 
        .d-flex.align-items-center.justify-content-between
            h1 List User
            a.ml-4.mr-4.btn.btn-primary(href="/users/create") Create Users
        form.d-flex.justify-content-center(action="/users/search", method="GET")
            input.form-control(type="text", name="q",value=q)
            button.ml-2.btn.btn-outline-success Search
        table.table
                thead
                    tr
                        th(scope='col') Username
                        th(scope='col') Password
                        th(scope='col') Email
                        th(scope='col') Date
                        th(scope='col') action
                tbody
                    each user in users
                        tr
                            td= user.name
                            td= user.password
                            td= user.email
                            td= user.date
                            td
                                a.mr-3.btn.btn-secondary(href="/users/view/" + user.id ) View
                                a.mr-3.btn.btn-secondary(href="/users/update/" + user.id ) Update
                                a.btn.btn-secondary(href="/users/" + user.id +"/delete") Delete